{% extends 'core/main.html' %}
{% block content %}

<div class="">
    <a href="{% url 'tasks' %}">Home</a>
    <h2 class="mb-4 text-center">Add a New Task</h2>

    
    <form method="POST" class="bg-white p-5 rounded shadow">
        {% csrf_token %}

      
        <div class="form-group mb-4">
            <label for="{{ form.title.id_for_label }}" class="form-label font-weight-bold">Task Title</label>
            {{ form.title  }}
        </div>

        <div class="form-group mb-4">
            <label for="{{ form.description.id_for_label }}" class="form-label font-weight-bold">Task Description</label>
            {{ form.description }}
        </div>

        <div class="form-group form-check mb-4">
            {{ form.complete }}
            <label for="{{ form.complete.id_for_label }}" class="form-check-label">Mark as Complete</label>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Create Task" class="btn btn-primary btn-lg">
        </div>
    </form>
</div>

{% endblock content %}
